<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>e-Mall - Carrito de compras</title>
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style type="text/css">
        body { padding-top: 70px; }

        *{
            border-radius: 0 !important;
        }
    </style>
</head>
<body>
<?php print_r($params) ?>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- text logo on mobile view -->
        <a class="navbar-brand" href="/">e-Mall</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <?php require_once "partes/links.html"; ?>
        
        <?php require_once "partes/notificaciones.html"; ?>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->

  <div class="container main-container" style="min-height:500px;">
    <div class="row">
      <!-- Cart -->
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
        <?php if ($params["productos"]) { ?>
          <h2><strong><span class="title">Mi carrito de compras</span></strong></h2>
        </div>
          <?php
            $tabla_comenzada = false;
            $nombre_tienda = "";
            $suma = 0;
            $id_tienda;
            $lista_productos_cantidades ="";

            foreach ($params["productos"] as $producto) {
              if ($producto["nombre_tienda"] != $nombre_tienda) {
                if ($tabla_comenzada) {
                  ?>
                            <tr>
                              <td colspan="5" align="right">Total</td>
                              <td class="total"><b>$ <?php echo $suma;?></b></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="btn-group btns-cart">
                        <button type="button" class="btn btn-primary" onclick="window.location='/tiendas'"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
                        <button type="button" class="btn btn-primary boton-checkout"  data-id-tienda="<?php echo $id_tienda; ?>" data-lista="<?php echo $lista_productos_cantidades; ?>" data-precio-total="<?php echo $suma ?>">Proceder a pagar <i class="fa fa-arrow-circle-right"></i></button>
                      </div>
                    </div>
                  <?php
                  $lista_productos_cantidades = "";
                  $tabla_comenzada = false;
                }
                $nombre_tienda = $producto["nombre_tienda"];
                $id_tienda = $producto["id_tienda"];
                ?> 
        <div class="col-lg-12 col-sm-12 hero-feature">
          <h3><?php echo "Productos de la tienda ".$producto["nombre_tienda"] ?></h3>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Image</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th class="th-qty">Cantidad</th>
                    <th>Sub Total</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <?php
                $tabla_comenzada = true;
              }  
            ?>
                <tr>
                  <td><a href="#"><img class="imagen-producto" src="/static/usuarios/imagenes/productos/<?php echo $producto['imagen']; ?>" alt="" title="" width="47" height="47" /></a></td>
                  <td data-id="<?php echo $producto['id_producto']; ?>"><a href="#"><?php echo $producto["nombre_producto"]; ?></a></td>
                  <td><a href="#"><?php echo $producto["marca"]; ?></a></td>
                  <td data-precio="<?php echo $producto['precio']; ?>"><?php echo $producto["precio"]; ?></td>
                  <td data-cantidad="<?php echo $producto['cantidad']; ?>"><?php echo $producto["cantidad"]; ?></td>
                  <td>$<?php echo $producto["precio"]*$producto["cantidad"]; ?></td>
                  <td class="text-center"><a href="/api/eliminar-producto-del-carrito?id_carrito=<?php echo $producto['id_carro_compra']; ?>&id_cliente=<?php echo $producto['id_cliente']; ?>" class="remove_cart" rel="2"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            <?php   
            $lista_productos_cantidades = $lista_productos_cantidades.$producto['id_producto'].":".$producto['cantidad'].",";
            $suma = $suma + ($producto["precio"]*$producto["cantidad"]);   
            }
          ?>
                <tr>
                  <td colspan="5" align="right">Total</td>
                  <td class="total"><b>$ <?php echo $suma ?></b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-group btns-cart">
            <button type="button" class="btn btn-primary" onclick="window.location='/tiendas'"><i class="fa fa-arrow-circle-left"></i> Continuar comprando</button>
            <button type="button" class="btn btn-success boton-checkout" data-lista="<?php echo $lista_productos_cantidades; ?>" data-precio-total="<?php echo $suma ?>" data-id-tienda="<?php echo $id_tienda ?>">Proceder a pagar <i class="fa fa-arrow-circle-right"></i></button>
          </div>
        </div>
        <?php } else {
          echo "<div style='text-align:center; padding-top:100px;'>";
          echo "<h2>No tiene productos agregados al carrito</h2>";
          echo "</div>";
         } ?>
      </div>
      <!-- End Cart -->
    </div>


    <!-- Small modal -->
    <div id="modal-pagar-con-paypal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Pagar con PayPal</h4>
          </div>
          <div class="modal-body">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_xclick">
              <input id="email_paypal" type="hidden" name="business" value="pagos@emall.com">
              <input id="item_name" type="hidden" name="item_name" value="">
              <input id="item_number" type='hidden' name='item_number' value=''>
              <input id="amount" type="hidden" name="amount" value="">
              <input type="hidden" name="currency_code" value="USD">
              <input type="image" src="http://www.paypal.com/es_XC/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
              <input id="r_p" type="hidden" name="return" value="http://e-mall.noip.me/redireccion/paypal/pagado">
              <input id="r_c" type="hidden" name="cancel_return" value="http://e-mall.noip.me/redireccion/paypal/cancelado">
              <input type="hidden" name="no_shipping" value="1">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-img" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Imagen del producto</h4>
          </div>
          <div class="modal-body">
            <img id="imagen-grande" width="100%" height="auto" src="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
  </footer>
  <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>
  <script>
  $(document).on("ready", function(){
    console.log("ready");
    $(".boton-checkout").on("click", function(e){
      console.log("Click");
      var lista = $(this).attr("data-lista");
      var id_tienda = $(this).attr("data-id-tienda");
      var precio_total = $(this).attr("data-precio-total");
      console.log(lista);
      console.log(id_tienda);
      console.log(precio_total);
      var datos = {
        "id_cliente": localStorage.id_cliente,
        "id_tienda": id_tienda,
        "productos_cantidad":lista
      }
      $.ajax({
        url: "/api/pedidos/crear-pedido",
        type: "POST",
        data: datos,
        success: function(data) {
          console.log(data);
          data = JSON.parse(data);
          if (data.info=="pedido_registrado") {
            $.ajax({
              url: "/api/obtener-datos-tienda?id_tienda="+id_tienda,
              type: "GET",
              success: function(data2) {
                console.log(data2);
                data2 = JSON.parse(data2);
                $("#email_paypal").val(data2.tienda.paypal);
                $("#item_name").val("Pedido "+data.pedido.id);
                $("#item_number").val(data.pedido.id);
                $("#amount").val(Math.round(precio_total/2000)+1);
                $("#r_p").val($("#r_p").val()+"?id="+data.pedido.id);
                $("#r_c").val($("#r_c").val()+"?id="+data.pedido.id);
                $('#modal-pagar-con-paypal').modal({
                  keyboard: false,
                  backdrop: false
                });
              }
            });
          }else{
            alert(data.info);
          }
        }
      });
    });

    $(".imagen-producto").on("click", function(e){
      var url = $(this).attr("src");
      console.log(url);
      $("#imagen-grande").attr("src", url);
      $('#modal-img').modal();
    });
  });
  </script>
  
</body>
</html>