<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>e-Mall - Configuraciones</title>
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="<?php echo STATIC_DIR; ?>vendors/mimity/css/catalogo.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style>
    body{
      padding-top: 70px;
    }
  </style>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- text logo on mobile view -->
        <a class="navbar-brand" href="/">e-Mall</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <?php require_once "partes/links.html"; ?>
        <?php require_once "partes/notificaciones.html"; ?>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->

  <div class="container main-container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
        <form action="" role="form" id="form-actualizar-datos-cliente">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Informacion personal y de contacto
                </div>
                <div class="panel-body">
                  <div id="alerta-informacion-actualizada" class="alert alert-success" style="display:none;">
                    <p>Datos actualizados correctamente</p>
                  </div>
                  <div id="alerta-password-incorrecta" class="alert alert-danger" style="display:none;">
                    <p>Contraseña incorrecta</p>
                  </div>
                  <div class="form-group">
                      <label for="nombre-cliente">Nombre</label>
                      <input type="text" class="form-control" id="nombre-cliente" required placeholder="Ej: Juan Perez">
                  </div>
                  <div class="form-group">
                      <label for="edad-cliente">Edad</label>
                      <input type="number" min="14" max="80" class="form-control" id="edad-cliente" required >
                  </div>
                  <div class="form-group">
                      <label for="direccion-cliente">Direccion de residencia</label>
                      <input type="text" class="form-control" id="direccion-cliente" required placeholder="Ej: Kra 1 #12345">
                  </div>
                  <div class="form-group">
                      <label for="barrio-cliente">Barrio de residencia</label>
                      <input type="text" class="form-control" id="barrio-cliente" required placeholder="Ej: Centro">
                  </div>
                  <div class="form-group">
                      <label for="telefonos-cliente">Telefonos de contacto</label>
                      <input type="text" class="form-control" id="telefonos-cliente" required placeholder="Ej: 1234567, 3103141234">
                  </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="password" class="form-control" id="password-cliente" required placeholder="Ingrese su contraseña actual">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" id="boton-actualizar-datos-cliente">Actualizar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
  </footer>

  <div id="modal-informacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Debe llenar estos campos antes de acceder a las opciones de la tienda</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info"><h5>Antes de poder acceder al carro de compras y realizar las compras, ver pedidos o cualquier otra funcion que tenga que ver con su perfil debe completar toda la informacion solicitada en el siguiente formulario</h5></div>
          <div class="alert alert-warning"><h5>Por favor llene el formularion con sus datos verdaderos.</h5></div>
          <div class="alert alert-danger"><h5>No nos hacemos responsables ni hacemos reembolsos por un pedido que sea enviado a una direccion falsa que usted ingrese aqui</h5></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/mimity/js/blImageCenter.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/mimity/js/mimity.js"></script>
  <script>
  $(document).on("ready", function(){
    console.log("ready");

    function cargar_datos_cliente(){
      var datos = {
        "id_cliente": localStorage.id_cliente
      }
      $.ajax({
        url: "/api/obtener-datos-cliente",
        type: "GET",
        data: datos,
        success: function(data) {
          console.log(data);
          data = JSON.parse(data);
          console.log(data);
          if (!(data.datos_cliente.nombre && data.datos_cliente.edad && data.datos_cliente.direccion && data.datos_cliente.barrio && data.datos_cliente.telefonos)) {
            if (data.datos_cliente.nombre) {
              $("#nombre-cliente").val(data.datos_cliente.nombre);
            }
            if (data.datos_cliente.edad) {
              $("#edad-cliente").val(data.datos_cliente.edad);
            }
            if (data.datos_cliente.direccion) {
              $("#direccion-cliente").val(data.datos_cliente.direccion);
            }
            if (data.datos_cliente.barrio) {
              $("#barrio-cliente").val(data.datos_cliente.barrio);
            }
            if (data.datos_cliente.telefonos) {
              $("#telefonos-cliente").val(data.datos_cliente.telefonos);
            }
            $('#modal-informacion').modal();
          }else{
            console.log("llenar datos");
            $("#nombre-cliente").val(data.datos_cliente.nombre);
            $("#edad-cliente").val(data.datos_cliente.edad);
            $("#direccion-cliente").val(data.datos_cliente.direccion);
            $("#barrio-cliente").val(data.datos_cliente.barrio);
            $("#telefonos-cliente").val(data.datos_cliente.telefonos);
          } 
        }
      });
    }

    cargar_datos_cliente();

    $("#form-actualizar-datos-cliente").on("submit", function(e){
      console.log("Click");
      e.preventDefault();
      var nombre = $("#nombre-cliente").val();
      var edad = $("#edad-cliente").val();
      var direccion = $("#direccion-cliente").val();
      var barrio = $("#barrio-cliente").val();
      var telefonos = $("#telefonos-cliente").val();
      var password = $("#password-cliente").val();
      var datos = {
        "id_cliente": localStorage.id_cliente,
        "nombre": nombre,
        "edad": edad,
        "direccion": direccion,
        "barrio": barrio,
        "telefonos": telefonos,
        "password": password,
      }
      console.log(datos);
      $.ajax({
        url: "/api/cliente/actualizar-datos-cliente",
        type: "POST",
        data: datos,
        success: function(data) {
          console.log(data);
          data = JSON.parse(data);
          if (data.info == "datos_actualizados") {
            $("#alerta-informacion-actualizada").slideDown("slow");
            setTimeout(function(){
              $("#alerta-informacion-actualizada").slideUp("slow");
            }, 2000);
          }else if(data.error == "password_incorrecta") {
            $("#alerta-password-incorrecta").slideDown("slow");
            setTimeout(function(){
              $("#alerta-password-incorrecta").slideUp("slow");
            }, 2000);
          }
        }
      });
    });

    $(".imagen-producto").on("click", function(e){
      var url = $(this).attr("src");
      console.log(url);
      $("#imagen-grande").attr("src", url);
      $('#modal-img').modal();
    });
  });
  </script>
  
</body>
</html>