<ul class="nav navbar-nav">
	<li><a href="/tiendas">Tiendas</a></li>
	<li><a href="/cliente/mi-carrito-de-compras"><i class="fa fa-shopping-cart"></i> Mi carro compras</a></li>
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	        <i class="fa fa-envelope fa-cubes"></i>  Mis pedidos <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu dropdown-messages">
	    	<li><a href="/cliente/mis-pedidos/sin-confirmar"><i class="fa fa fa-exclamation-circle"></i> Sin confirmar</a></li>
	        <li class="divider"></li>
	        <li><a href="/cliente/mis-pedidos/pagados"><i class="fa fa-money"></i> Pagados</a></li>
	        <li class="divider"></li>
	        <li><a href="/cliente/mis-pedidos/enviados"><i class="fa fa-truck"></i> Enviados</a></li>
	        <li class="divider"></li>
	        <li><a href="/cliente/mis-pedidos/entregados"><i class="fa fa-thumbs-o-up"></i> Entregados</a></li>
	    </ul>
    	<!-- /.dropdown-messages -->
	</li>
</ul>