<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-cubes"></i> Mis pedidos <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="/dashboard/mis-pedidos/nuevos"><i class="fa fa-cube"></i> Nuevos</a>
            </li>

            <li class="divider"></li>
            
            <li>
                <a href="/dashboard/mis-pedidos/enviados"><i class="fa fa-truck"></i> Enviados</a>
            </li>
            
            <li class="divider"></li>
            
            <li>
                <a href="/dashboard/mis-pedidos/entregados"><i class="fa fa-thumbs-up"></i> Entregados</a>
            </li>            
        </ul>
        <!-- /.dropdown-messages -->
    </li>
    
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tags"></i> Mis productos <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="/dashboard/mis-productos/en-venta"><i class="fa fa-barcode"></i> En venta</a>
            </li>

            <li class="divider"></li>
            
            <li>
                <a href="/dashboard/mis-productos/vendidos"><i class="fa fa-money"></i> Vendidos</a>
            </li>            
        </ul>
        <!-- /.dropdown-messages -->
    </li>
</ul>