<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <?php if (isset($params["notificaciones"])) { ?>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <span class="hidden-sm">Mis Notificaciones </span>
                <?php if (count($params["notificaciones"])>0) { ?>
                    <span class="badge"><?php echo count($params["notificaciones"]); ?></span> 
                <?php } ?>
                <i class="fa fa-caret-down"></i>
            </a>
        <?php } ?>
        <ul class="dropdown-menu dropdown-alerts">
            <?php if (count($params["notificaciones"])>0) { ?>
                <?php if (isset($params["notificaciones"]["nuevo_pedido"])) { ?>
                    <li>
                        <a href="/dashboard/mis-pedidos/nuevos">
                            <div>
                                <i class="fa fa-comment fa-cubes"></i> Tienes <?php echo count($params["notificaciones"]["nuevo_pedido"]); ?> pedido nuevo
                            </div>
                        </a>
                    </li>
                    <?php if (count($params["notificaciones"])>1) { ?>
                        <li class="divider"></li>
                    <?php } ?>
                <?php } ?>
                <?php if (isset($params["notificaciones"]["pedido_confirmado"])) { ?>
                    <li>
                        <a href="/dashboard/mis-pedidos/entregados">
                            <div>
                                <i class="fa fa-thumbs-up"></i> <?php echo count($params["notificaciones"]["pedido_confirmado"]); ?> cliente(s) han confirmado la llegada de su pedido
                            </div>
                        </a>
                    </li>
                    <?php if (count($params["notificaciones"])>1) { ?>
                        <li class="divider"></li>
                    <?php } ?>
                <?php } ?>
            <?php }else{ ?>
                <li>
                    <a href="#">
                        No tiene notificaciones
                    </a>
                </li>
            <?php } ?>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <span class="hidden-sm">Mi cuenta</span> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> <?php echo $params["admin"]["nombre"] ?></a>
            </li>
            <li><a href="/dashboard/mis-configuraciones"><i class="fa fa-gear fa-fw"></i> Configuraciones</a>
            </li>
            <li class="divider"></li>
            <li><a href="/api/cerrar-sesion"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesion</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>