<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>E-Mall | Iniciar Sesion</title>
  <link rel=author href="humans.txt">

  <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <style type="text/css">
    *{
        border-radius: 0 !important;
    }

    body {
      padding-top: 70px;
      background: #eee !important;  
    }

    .wrapper {  
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .form-signin {
      max-width: 400px;
      padding: 15px 35px 45px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);  
    }

    .form-signin-heading{
      margin-bottom: 30px;
      text-align: center;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
    }

    .form-control:focus {
      z-index: 2;
    }

    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">e-Mall</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Pagina principal</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registrarse <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/registrar/cliente">Como comprador</a></li>
              <li><a href="/registrar/tienda">Como vendedor</a></li>
              <li class="divider"></li>
              <li><a href="/ayuda/registro">No se cual elegir</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <?php if (isset($params['nombre_tienda'])) { ?>
      <input type="hidden" id="input-nombre-tienda" value="<?php print_r($params['nombre_tienda']) ?>">
    <?php } ?>  

    <?php if (isset($params['categoria_productos'])) { ?>
      <input type="hidden" id="input-categoria-productos" value="<?php print_r($params['categoria_productos']) ?>">
    <?php } ?>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="wrapper">
          <form id="form-iniciar-sesion-cliente" class="form-signin">       
            <h2 class="form-signin-heading">Entrar como comprador</h2>
            <div id="alert-error-login-cliente" class="alert alert-danger" style="display:none;">
              <p>Email o contraseña incorrectos</p>
            </div>
            <input type="email" class="form-control" id="email-iniciar-sesion-cliente" name="email-iniciar-sesion-cliente" placeholder="Email" required autofocus>
            <input type="password" class="form-control" id="password-iniciar-sesion-cliente" name="password-iniciar-sesion-cliente" placeholder="Password" required>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar sesion">
            <p style="text-align:center; margin-top:10px;"><a href="/registrar/cliente">No tengo una cuenta de comprador</a></p>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="wrapper">
          <form id="form-iniciar-sesion-admin" class="form-signin">       
            <h2 class="form-signin-heading">Entrar como vendedor</h2>
            <div id="alert-error-login-admin" class="alert alert-danger" style="display:none;">
              <p>Email o contraseña incorrectos</p>
            </div>
            <input type="email" class="form-control" name="email-iniciar-sesion-admin" id="email-iniciar-sesion-admin" placeholder="Email" required autofocus>
            <input type="password" class="form-control" name="password-iniciar-sesion-admin" id="password-iniciar-sesion-admin" placeholder="Password" required>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar sesion">
            <p style="text-align:center; margin-top:10px;"><a href="/registrar/tienda">No tengo una cuenta de vendedor</a></p>
          </form>
        </div>  
      </div>
    </div>
    
  </div>

  <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $(document).on("ready", function(){
      var nt = $("#input-nombre-tienda").val();
      var cp = $("#input-categoria-productos").val();
      console.log(nt);
      console.log(cp);
      $("#form-iniciar-sesion-admin").on("submit", function(e){
        e.preventDefault();
        var pass = $("#password-iniciar-sesion-admin").val();
        var email = $("#email-iniciar-sesion-admin").val();
        console.log("E: " + email);
        console.log("P: " + pass);
        var datos = {
          "email" : email,
          "password" : pass
        };
        $.ajax({
          type: "POST",
          url: "/api/iniciar-sesion/admin",
          data: datos,
          success: function(data) {
            data = JSON.parse(data);
            if(data.info == "sesion_iniciada"){
              localStorage.clear();
              localStorage.id_tienda = data.ids.id_tienda;
              localStorage.id_admin = data.ids.id_admin;
              localStorage.categoria_tienda = data.categoria_tienda;
              window.location.href = '/';
            }else{
              console.log(data);
              $("#alert-error-login-admin").slideDown('slow');
              setTimeout(function(){
              $("#alert-error-login-admin").slideUp("slow");
            }, 3000);
            }
          }
        });
      });

      $("#form-iniciar-sesion-cliente").on("submit", function(e){
        e.preventDefault();
        var pass = $("#password-iniciar-sesion-cliente").val();
        var email = $("#email-iniciar-sesion-cliente").val();
        // console.log("E: " + email);
        // console.log("P: " + pass);
        var datos = {
          "email" : email,
          "password" : pass
        };
        console.log(datos);
        $.ajax({
          type: "POST",
          url: "/api/iniciar-sesion/cliente",
          data: datos,
          success: function(data) {
            console.log(data);
            data = JSON.parse(data);
            if(data.info == "sesion_iniciada"){
              localStorage.clear();
              localStorage.id_cliente = data.ids.id_cliente;
              if (nt) {
                var url = "/tiendas/catalogo?nombre-tienda="+nt;
                // datos["redireccionar_a"]=nt;
                if(cp){
                  url = url+"&categoria-productos="+cp;
                  // datos["categoria_productos"]=cp;
                }
                window.location.href = url;
              }else{
                window.location.href = "/";
              }
            }else{
              console.log(data);
              $("#alert-error-login-cliente").slideDown('slow');
              setTimeout(function(){
              $("#alert-error-login-cliente").slideUp("slow");
            }, 3000);
            }
          }
        });
      });
      // alert("El docuento esta listo");
    });
  </script>
</body>
</html>