<!DOCTYPE html5>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta name="" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>E-Mall</title>
    <link rel=author href="humans.txt">

    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>  
    <h1>Wellcome to E-Mall</h1>
    <?php 
        echo "<ul>";
        foreach ($params["categorias_tiendas"] as $categoria) {
            echo "<li><a href='/tiendas?categoria=".$categoria["categoria"]."'>".$categoria["categoria"]."</a></li>";
            // print_r();
        }
        echo "</ul>";
    ?>
    <form action="/busqueda/productos" action="GET">
        <h2>Buscar productos</h2>
        <input type="text" name="keyword" placeholder="Escriba aqui el producto a buscar">
        <input type="submit" value="Buscar">
    </form>
    <p>
        <a href="/iniciar-sesion">Iniciar sesion</a>
    </p>
    <p>
        <a href="/registrar/tienda">Registrar una tienda</a> 
        <a href="/registrar/cliente">Registrarme como cliente</a> 
    </p>
<!-- 
    <script src="<?php echo STATIC_DIR; ?>js/jquery.js"></script>
    <script src="<?php echo STATIC_DIR; ?>js/bootstrap.js"></script>

 -->
</body>
</html>