<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>E-Mall | Iniciar Sesion</title>
    <link rel=author href="humans.txt">

    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 70px; }

        *{
            border-radius: 0 !important;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <?php if (isset($params['nombre_tienda'])) { ?>
      <input type="hidden" id="input-nombre-tienda" value="<?php print_r($params['nombre_tienda']) ?>">
    <?php } ?>  

    <?php if (isset($params['categoria_productos'])) { ?>
      <input type="hidden" id="input-categoria-productos" value="<?php print_r($params['categoria_productos']) ?>">
    <?php } ?>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2>Iniciar sesion como comprador</h1>
        <form id="form-iniciar-sesion-cliente" action="/api/iniciar-sesion/cliente" method="POST">
          <label for="email-iniciar-sesion-cliente">Email: </label>
          <?php 
            if(isset($params["email-cliente"])){
              echo '<input type="email" id="email-iniciar-sesion-cliente" name="email-iniciar-sesion-cliente" placeholder="Email" required value="'.$params["email-cliente"].'">';
            }else{
              echo '<input type="email" id="email-iniciar-sesion-cliente" name="email-iniciar-sesion-cliente" placeholder="Email" required>';
            }
          ?>
          <label for="password-iniciar-sesion-cliente">Password: </label>
          <input type="password" id="password-iniciar-sesion-cliente" name="password-iniciar-sesion-cliente" placeholder="Password" required>
          <input type="submit" value="Iniciar sesion">
        </form>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2>Iniciar sesion como administrador</h1>
        <form id="form-iniciar-sesion-admin" action="/api/iniciar-sesion/admins" method="POST">
          <label for="email-iniciar-sesion-admin">Email: </label>
          <?php 
            if(isset($params["email-admin"])){
              echo '<input type="email" name="email-iniciar-sesion-admin" id="email-iniciar-sesion-admin" placeholder="Email" required value="'.$params["email-admin"].'">';
            }else{
              echo '<input type="email" name="email-iniciar-sesion-admin" id="email-iniciar-sesion-admin" placeholder="Email" required>';
            }
          ?>
          <label for="password-iniciar-sesion-admin">Password: </label>
          <input type="password" name="password-iniciar-sesion-admin" id="password-iniciar-sesion-admin" placeholder="Password" required>
          <input type="submit" value="Iniciar sesion">
        </form>
        
      </div>
    </div>
    
  </div>

  <p><a href="/">Volver a la pagina inicial</a></p>
  <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
  <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $(document).on("ready", function(){
      var nt = $("#input-nombre-tienda").val();
      var cp = $("#input-categoria-productos").val();
      console.log(nt);
      console.log(cp);
      $("#form-iniciar-sesion-admin").on("submit", function(e){
        e.preventDefault();
        var pass = $("#password-iniciar-sesion-admin").val();
        var email = $("#email-iniciar-sesion-admin").val();
        console.log("E: " + email);
        console.log("P: " + pass);
        var datos = {
          "email" : email,
          "password" : pass
        };
        $.ajax({
          type: "POST",
          url: "/api/iniciar-sesion/admin",
          data: datos,
          success: function(data) {
            data = JSON.parse(data);
            if(data.info = "sesion_iniciada"){
              localStorage.clear();
              localStorage.id_tienda = data.ids.id_tienda;
              localStorage.id_admin = data.ids.id_admin;
              localStorage.categoria_tienda = data.categoria_tienda;
              window.location.href = '/';
            }else{
              console.log(data);
            }
          }
        });
      });

      $("#form-iniciar-sesion-cliente").on("submit", function(e){
        e.preventDefault();
        var pass = $("#password-iniciar-sesion-cliente").val();
        var email = $("#email-iniciar-sesion-cliente").val();
        // console.log("E: " + email);
        // console.log("P: " + pass);
        var datos = {
          "email" : email,
          "password" : pass
        };
        console.log(datos);
        $.ajax({
          type: "POST",
          url: "/api/iniciar-sesion/cliente",
          data: datos,
          success: function(data) {
            console.log(data);
            data = JSON.parse(data);
            if(data.info = "sesion_iniciada"){
              localStorage.clear();
              localStorage.id_cliente = data.ids.id_cliente;
              if (nt) {
                var url = "/tiendas/catalogo?nombre-tienda="+nt;
                // datos["redireccionar_a"]=nt;
                if(cp){
                  url = url+"&categoria-productos="+cp;
                  // datos["categoria_productos"]=cp;
                }
                window.location.href = url;
              }else{
                window.location.href = "/";
              }
            }else{
              console.log(data);
            }
          }
        });
      });
      // alert("El docuento esta listo");
    });
  </script>
</body>
</html>