<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>e-Mal - Configuraciones</title>

    <!-- Core CSS - Include with every page -->
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 70px; }

        *{
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-cogs"></i> Configuraciones</a>
            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <?php require_once "partes/links.html"; ?>
                <?php require_once "partes/notificaciones.html"; ?>
            </div>
            <!-- /.navbar-top-links -->
        </div>
    </nav>
    <div class="container">
        <?php //print_r($params["admin"]) ?>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:10px 0;">
                    <li class="active" id="tab1"><a href="#informacion" role="tab" data-toggle="tab">Informacion</a></li>
                    <?php if ($params["admin"]["es_propietario"] == "si") { ?>
                        <li id="tab2"><a href="#administradores" role="tab" data-toggle="tab">Administradores</a></li>
                    <?php } ?>  
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="informacion">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <form action="" role="form" id="form-actualizar-info-admin">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                Informacion personal
                                            </div>
                                            <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="email-admin">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre-admin" required placeholder="Ej: Juan Perez">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email-admin">Email</label>
                                                        <input type="email" class="form-control" id="email-admin" required placeholder="Ej: p@g.com">
                                                    </div>
                                                    <div id="alert-operacion-no-necesaria" class="alert alert-warning" style="display:none;">
                                                        <p>Los datos que desea actualizar son los mismo que ya tiene registrados, la operacion no es necesaria.</p>
                                                    </div>
                                                    <div id="alert-datos-actualizados" class="alert alert-success" style="display:none;">
                                                        <p>Datos personales actualizados correctamente.</p>
                                                    </div>
                                                    <div id="alert-password-incorrecta" class="alert alert-danger" style="display:none;">
                                                        <p>Contraseña incorrecta, permiso denegado.</p>
                                                    </div>
                                                    <div id="alert-email-ya-registrado" class="alert alert-danger" style="display:none;">
                                                        <p>Este correo ya esta siendo usado por otra persona, por favor ingrese otro.</p>
                                                    </div>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <input type="password" class="form-control" id="password-admin" required placeholder="Ingrese su contraseña actual">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary" type="submit" id="boton-actualizar-info-personal">Actualizar</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <form action="" role="form" id="form-actualizar-password">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                Cambiar la contraseña
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="password-admin">Nueva contraseña</label>
                                                    <input type="password" class="form-control" id="password-nueva-admin" required placeholder="********">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password2-admin">Nueva contraseña de nuevo</label>
                                                    <input type="password" class="form-control" id="password-nueva2-admin" required  placeholder="********">
                                                </div>
                                                <div id="alert-operacion-no-necesaria2" class="alert alert-warning" style="display:none;">
                                                    <p>La contraseña nueva que desea ingresar es la misma que la antigua, por favor ingrese otra.</p>
                                                </div>
                                                <div id="alert-datos-actualizados2" class="alert alert-success" style="display:none;">
                                                    <p>Contraseña actualizada correctamente.</p>
                                                </div>
                                                <div id="alert-password-incorrecta2" class="alert alert-danger" style="display:none;">
                                                    <p>Contraseña incorrecta, permiso denegado.</p>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <input type="password" class="form-control" id="password-actual-admin" required placeholder="Ingrese su contraseña actual">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-danger" type="submit">Cambiar contraseña</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <?php if ($params["admin"]["es_propietario"] == "si") { ?>
                                    <div class="col-md-6 col-lg-4">
                                        <form id="form-actualizar-datos-tienda" action="" role="form">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Informacion de la tienda
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="paypal-tienda">Cuenta de paypal</label>
                                                        <input type="email" class="form-control" id="paypal-tienda" placeholder="Ej: mitienda@pagos.com" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nombre-tienda">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre-tienda" placeholder="Ej: Tienda tecnologica" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="categoria-tienda">Categoria de la tienda</label>
                                                        <input type="text" class="form-control" id="categoria-tienda" required disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="direccion-tienda">Direccion</label>
                                                        <input type="text" class="form-control" id="direccion-tienda" placeholder="Ej: Calle 1 carrera 1 #1-2" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="barrio-tienda">Barrio</label>
                                                        <input type="text" class="form-control" id="barrio-tienda" placeholder="Ej: Barrio centro" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="telefonos-tienda">Telefonos (Separados por comas)</label>
                                                        <input type="text" class="form-control" id="telefonos-tienda" placeholder="Ej: 1112233, 1234567" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="estado-tienda">Estado de la tienda</label>
                                                        <input type="text" class="form-control" id="estado-tienda" required disabled>
                                                    </div>
                                                    <div id="alert-nombre-ya-registrado" class="alert alert-danger" style="display:none;">
                                                        <p>Este nombre ya esta siendo usado por otra tienda, por favor ingrese otro.</p>
                                                    </div>
                                                    <div id="alert-datos-actualizados3" class="alert alert-success" style="display:none;">
                                                    <p>Datos de la tienda actualizados correctamente.</p>
                                                    </div>
                                                    <div id="alert-password-incorrecta3" class="alert alert-danger" style="display:none;">
                                                        <p>Contraseña incorrecta, permiso denegado.</p>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <input type="password" id="password-admin-datos-tienda" class="form-control" placeholder="Ingrese su contraseña para actualizar los datos" required>
                                                                <span class="input-group-btn">
                                                                    <input class="btn btn-primary" type="submit" value="Actualizar"/>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    <?php if ($params["admin"]["es_propietario"] == "si") { ?>
                        <div class="tab-pane fade" id="administradores">
                            <div class="alert alert-info">
                                <p>Los sub-administradores son administradores que pueden hacer lo mismo que usted pero con algunas restricciones.</p>
                                <p>Por ejemplo ellos pueden agregar o eliminar productos pero no pueden agregar mas administradores o cambiar datos de la tienda, eso solo lo puede hacer usted como propietario</p>
                            </div>
                            <div class="col-lg-4">
                                <form action="" role="form" id="form-agregar-sub-admin">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            Agregar sub-administradores
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label for="nombre-sub-admin">Nombre</label>
                                                <input type="text" class="form-control" id="nombre-sub-admin" required placeholder="Ej: Fuck yeah">
                                            </div>
                                            <div class="form-group">
                                                <label for="email-sub-admin">Email</label>
                                                <input type="email" class="form-control" id="email-sub-admin" required placeholder="Ej: j@g.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="password-sub-admin">Contraseña</label>
                                                <input type="password" class="form-control" id="password-sub-admin" required placeholder="********">
                                            </div>
                                            <div id="alert-admin-agregado" class="alert alert-success" style="display:none;">
                                                <p>Administrador agregado correctamente.</p>
                                            </div>
                                            <div id="alert-password-incorrecta4" class="alert alert-danger" style="display:none;">
                                                <p>Contraseña incorrecta, permiso denegado.</p>
                                            </div>
                                            <div id="alert-email-ya-registrado2" class="alert alert-danger" style="display:none;">
                                                <p>Este correo ya esta siendo usado por otra persona, por favor ingrese otro.</p>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" id="password-admin-asa" required  placeholder="Ingrese su contraseña actual">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" type="submit">Agregar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-8">
                                <div class="row" id="">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Fecha de registro</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php 
                                                if (count($params["admins"])>0) { 
                                                    foreach ($params["admins"] as $admin) { ?>
                                                        <tr>
                                                            <td><?php echo $admin["nombre"]; ?></td>
                                                            <td><?php echo $admin["email"]; ?></td>
                                                            <td><?php echo $admin["fecha_registro"]; ?></td>
                                                            <td><a href="/api/admin/eliminar-sub-admins?id_admin=<?php echo $admin['id']; ?>" class="btn btn-danger">Eliminar</a></td>
                                                        </tr>
                                                <?php 
                                                    }
                                                } ?>
                                            </tbody>
                                        </table>
                                        <?php //print_r($params["admins"]); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div> 
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>

    <script>
    $(document).on("ready", function(){
        console.log("documento listo XD");
        console.log(localStorage);
        function cargar_info_admin(){
            $.ajax({
                type: "GET",
                url: "/api/obtener-datos-admin?id_admin="+localStorage.id_admin,
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.error ==  null && data.admin){
                        if(data.admin.nombre){
                            $("#nombre-admin").val(data.admin.nombre);
                        }
                        if(data.admin.email){
                            $("#email-admin").val(data.admin.email);
                        }
                    }else{
                       
                    }
                }
            });    
        }

        function cargar_info_tienda(){
            $.ajax({
                type: "GET",
                url: "/api/obtener-datos-tienda?id_tienda="+localStorage.id_tienda,
                success: function(data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if(data.error ==  null && data.tienda){
                        if(data.tienda.paypal){
                            $("#paypal-tienda").val(data.tienda.paypal);
                        }
                        if(data.tienda.nombre){
                            $("#nombre-tienda").val(data.tienda.nombre);
                        }
                        if(data.tienda.barrio){
                            $("#barrio-tienda").val(data.tienda.direccion);
                        }
                        if(data.tienda.direccion){
                            $("#direccion-tienda").val(data.tienda.direccion);
                        }
                        if(data.tienda.telefonos){
                            $("#telefonos-tienda").val(data.tienda.telefonos);
                        }
                        if(data.tienda.estado){
                            $("#estado-tienda").val(data.tienda.estado);
                        }
                        if(data.tienda.categoria){
                            $("#categoria-tienda").val(data.tienda.categoria);
                        }
                    }
                }
            });    
        }
        cargar_info_admin();
        cargar_info_tienda();

        $('#tab1 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            cargar_info_admin();
            cargar_info_tienda();
            $(this).tab('show');
        });

        $('#tab2 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            $(this).tab('show');
        });

        $("#form-actualizar-info-admin").on("submit", function(e){
            e.preventDefault();
            var nombre = $("input#nombre-admin").val();
            var email = $("input#email-admin").val();
            var password = $("input#password-admin").val();

            var datos = {
                "nombre" : nombre,
                "email" : email,
                "password" : password,
                "id_admin" : localStorage.id_admin
            }

            console.log(datos);

            $.ajax({
                type: "POST",
                url: "/api/admin/actualizar-info-personal",
                data: datos,
                success: function(data) {
                    // data = JSON.parse(data);
                    // alert(data);
                    data = JSON.parse(data);
                    if (data.error == "password_incorrecta") {
                        $("#alert-password-incorrecta").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-password-incorrecta").slideUp("slow");
                        }, 2000);
                    }else if (data.error == "email_ya_registrado") {
                        $("#alert-email-ya-registrado").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-email-ya-registrado").slideUp("slow");
                        }, 2000);
                    }else if (data.error == "datos_iguales") {
                        $("#alert-operacion-no-necesaria").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-operacion-no-necesaria").slideUp("slow");
                        }, 2000);
                    }else if (data.info == "info_actualizada") {
                        $("#alert-datos-actualizados").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-datos-actualizados").slideUp("slow");
                        }, 2000);
                    }
                    // console.log(data);
                }
            });
        });

        $("#form-actualizar-password").on("submit", function(e){
            e.preventDefault();
            var password_nueva = $("input#password-nueva-admin").val();
            var password_nueva2 = $("input#password-nueva2-admin").val();
            var password_actual = $("input#password-actual-admin").val();
            if (password_nueva == password_nueva2) {
                var datos = {
                    "password_actual" : password_actual,
                    "password_nueva" : password_nueva,
                    "id_admin" : localStorage.id_admin
                }

                console.log(datos);

                $.ajax({
                    type: "POST",
                    url: "/api/admin/actualizar-password",
                    data: datos,
                    success: function(data) {
                        // data = JSON.parse(data);
                        // alert(data);
                        data = JSON.parse(data);
                        if (data.error == "password_incorrecta") {
                            $("#alert-password-incorrecta2").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-password-incorrecta2").slideUp("slow");
                            }, 2000);
                        }else if (data.error == "datos_iguales") {
                            $("#alert-operacion-no-necesaria2").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-operacion-no-necesaria2").slideUp("slow");
                            }, 3000);
                        }else if (data.info == "info_actualizada") {
                            $("#alert-datos-actualizados2").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-datos-actualizados2").slideUp("slow");
                            }, 2000);
                        }
                    }
                });
            }else{
                alert("Las contraseñas nuevas no coinciden");
            }
        });

        $("#form-actualizar-datos-tienda").on("submit", function(e){
            e.preventDefault();
            var paypal = $("input#paypal-tienda").val();
            var nombre = $("input#nombre-tienda").val();
            var direccion = $("input#direccion-tienda").val();
            var barrio = $("input#barrio-tienda").val();
            var telefonos = $("input#telefonos-tienda").val();
            var password = $("input#password-admin-datos-tienda").val();

            var datos = {
                "paypal" : paypal,
                "nombre" : nombre,
                "direccion" : direccion,
                "barrio" : barrio,
                "telefonos" : telefonos,
                "password": password,
                "id_admin" : localStorage.id_admin,
                "id_tienda" : localStorage.id_tienda
            }

            console.log(datos);

            $.ajax({
                type: "POST",
                url: "/api/admin/actualizar-datos-tienda",
                data: datos,
                success: function(data) {
                    // data = JSON.parse(data);
                    // alert(data);
                    data = JSON.parse(data);
                    if (data.error == "password_incorrecta") {
                        $("#alert-password-incorrecta3").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-password-incorrecta3").slideUp("slow");
                        }, 2000);
                    }else if (data.error == "email_ya_registrado") {
                        $("#alert-nombre-ya-registrado").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-nombre-ya-registrado").slideUp("slow");
                        }, 3000);
                    }else if (data.info == "datos_tienda_actualizados" || data.info == "info_tienda_registrados") {
                        $("#alert-datos-actualizados3").slideDown("slow");
                        setTimeout(function(){
                          $("#alert-datos-actualizados3").slideUp("slow");
                        }, 2000);
                    }
                }
            });
        });

        $("#form-agregar-sub-admin").on("submit", function(e){
            e.preventDefault();
            var email_sub_admin = $("input#email-sub-admin").val();
            var nombre_sub_admin = $("input#nombre-sub-admin").val();
            var password_sub_admin = $("input#password-sub-admin").val();
            var password_admin = $("input#password-admin-asa").val();
            if (password_sub_admin.length >= 8) {
                var datos = {
                    "nombre_sub_admin": nombre_sub_admin,
                    "email_sub_admin" : email_sub_admin,
                    "password_sub_admin" : password_sub_admin,
                    "password_admin" : password_admin,
                    "id_admin" : localStorage.id_admin,
                    "id_tienda" : localStorage.id_tienda
                }

                console.log(datos);

                $.ajax({
                    type: "POST",
                    url: "/api/admin/agregar-sub-admins",
                    data: datos,
                    success: function(data) {
                        // alert(data);
                        data = JSON.parse(data);
                        if (data.error == "password_incorrecta") {
                            $("#alert-password-incorrecta4").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-password-incorrecta4").slideUp("slow");
                            }, 2000);
                        }else if (data.error == "email_ya_registrado") {
                            $("#alert-email-ya-registrado2").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-email-ya-registrado2").slideUp("slow");
                            }, 3000);
                        }else if (data.info == "admin_registrado") {
                            $("#alert-admin-agregado").slideDown("slow");
                            setTimeout(function(){
                              $("#alert-admin-agregado").slideUp("slow");
                            }, 2000);
                        }
                    }
                });
            }else{
                alert("La contraseña debe tener al menos 8 caracteres");
            }
            
        });
       


    });
    </script>
</body>

</html>
