<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-Mal - Pedidos nuevos</title>

    <!-- Core CSS - Include with every page -->
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="<?php echo STATIC_DIR; ?>vendors/dashboard/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/dashboard/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="<?php echo STATIC_DIR; ?>vendors/dashboard/css/sb-admin.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><?php print_r($params["tienda"]["nombre"]) ?></a>
                <a class="navbar-brand" href="/"><i class="fa fa-barcode"></i> Productos en venta</a>
            </div>
            <!-- /.navbar-header -->

            <?php require_once "partes/notificaciones.html"; ?>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            
                        </li> -->
                        
                        <?php require_once "partes/link-pedidos.html"; ?>
                        <?php require_once "partes/link-productos.html"; ?>
                        <?php require_once "partes/link-configuraciones.html"; ?>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <?php print_r($params["pedidos_nuevos"]); ?>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <?php 
            if (isset($params["pedidos_nuevos"]) && $params["pedidos_nuevos"]) { ?>
              <?php
              foreach ($params["pedidos_nuevos"] as $pedido) {?>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>Fecha en que se realizo el pedido: <b><?php echo $pedido["fecha_registro"]; ?></b></h4>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Precio (Pesos)</th>
                            <th class="th-qty">Cantidad</th>
                            <th>Sub Total (Pesos)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <?php
                          $suma = 0;
                          // print_r($pedido);
                          foreach ($pedido["productos"] as $producto) {
                            $suma = $suma + ($producto["cantidad_comprada"]*$producto["producto"]["precio"]); ?>
                            <tr>
                              <td><img class="imagen-producto" style="cursor:pointer;" src="/static/usuarios/imagenes/productos/<?php echo $producto["producto"]['imagen']; ?>" alt="" title="" width="35" height="35" /></td>
                              <td><?php echo $producto["producto"]["nombre_producto"]; ?></td>
                              <td><?php echo $producto["producto"]["marca"]; ?></td>
                              <td>$ <?php echo $producto["producto"]["precio"]; ?></td>
                              <td><?php echo $producto["cantidad_comprada"]; ?></td>
                              <td>$ <?php echo ($producto["cantidad_comprada"]*$producto["producto"]["precio"]); ?></td>
                            </tr>
                          <?php } ?>
                          <tr>
                            <td colspan="5" align="right">Total</td>
                            <td class="total"><b>$ <?php echo $suma ?></b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <?php if($pedido["estado"] == "sin confirmar") { ?>
                      <h4>Estado del pedido: 
                        <span class="label label-warning"><b>Sin confirmar</b></span>
                        <span><button class="btn btn-primary boton-confirmar-pagar" data-id-pedido="<?php echo $pedido["id_pedido"]; ?>" data-precio-total="<?php echo $suma; ?>" >Confirmar y pagar</button></span>
                        <span><a href="/api/eliminar-pedido?id_pedido=<?php echo $pedido["id_pedido"]; ?>" class="btn btn-danger">Eliminar pedido</a></span>
                      </h4>
                    <?php } else if($pedido["estado"] == "pagado") {  ?>
                      <h4>Estado del pedido: 
                        <span class="label label-success"><b>Pagado</b></span>
                        <span><button class="btn btn-primary boton-enviar" data-id-pedido="<?php echo $pedido["id_pedido"]; ?>" >Enviar al comprador</button></span>
                      </h4>
                    <?php } else if($pedido["estado"] == "enviado") {  ?>
                      <h4>Estado del pedido: 
                        <span class="label label-success"><b>Pagado</b></span>
                        <span class="label label-info"><b>Enviado</b></span>
                        <span><button class="btn btn-primary boton-entregado" data-id-pedido="<?php echo $pedido["id_pedido"]; ?>" >Cambiar estado de pedido a entregado</button></span>
                      </h4>
                    <?php } else if($pedido["estado"] == "entregado") {  ?>
                      <h4>Estado del pedido: 
                        <span class="label label-success"><b>Pagado</b></span>
                        <span class="label label-info"><b>Enviado</b></span>
                        <span class="label label-primary"><b>Entregado</b></span>
                      </h4>
                    <?php } ?>
                  </div>
                </div>
            <?php 
              } 
            } else { ?>
              <h2>Usted no ha realizado ningun pedido aun</h2>
            <?php 
            } ?>
        </div>
                
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/bootstrap-filestyle.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard 
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/plugins/morris/morris.js"></script>
    -->    
    
    <!-- SB Admin Scripts - Include with every page 
    -->
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/demo/dashboard-demo.js"></script> 
    -->
    <script>
    $(document).on("ready", function(){
        console.log("documento listo XD");
        console.log(localStorage);
        function cargar_productos_en_paneles(categoria){
            $("#div-mostrar-productos-en-venta").html("");
            if (categoria) {
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda+"&categoria-productos="+categoria;
            }else{
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda;
            }
            $.ajax({
                type: "GET",
                url: url,
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.error ==  null && data.productos.length == 0){
                        var s = "<h2>No tiene productos registrados</h2>"
                        $("#div-mostrar-productos-en-venta").html(s);
                    }else{
                        data.productos.forEach(function(producto){
                            // producto = JSON.stringify(producto);
                            console.log(producto);
                            var p = '<div class="col-sm-6 col-md-4">\
                                <div class="panel panel-default">\
                                    <div class="panel-heading">\
                                        '+producto.nombre_producto+'\
                                    </div>\
                                    <div class="panel-body">\
                                        <img src="/static/usuarios/imagenes/productos/'+producto.imagen+'" alt="'+producto.nombre_producto+'" width="100%" height="200px">\
                                        <p>'+producto.descripcion+'</p>\
                                        <p>'+producto.marca+'</p>\
                                        <p>'+producto.categoria+'</p>\
                                        <p>'+producto.precio+'</p>\
                                        <p>'+producto.stock+'</p>\
                                    </div>\
                                    <div class="panel-footer">\
                                        <div class="row">\
                                            <div class="col-xs-6">\
                                                <button class="btn btn-primary">Actualizar</button>\
                                            </div>\
                                            <div class="col-xs-6">\
                                                <button class="btn btn-danger">Eliminar</button>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>';
                            console.log(p);
                            $("#div-mostrar-productos-en-venta").append(p);
                            
                        });
                    }
                }
            });    
        }

        function cargar_productos_en_tabla(){
            $.ajax({
                type: "GET",
                url: "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda,
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.error ==  null && data.productos.length == 0){
                        var s = "<h2>No tiene productos registrados</h2>"
                        $("#div-mostrar-tabla-productos-en-venta").html(s);
                    }else{
                        var t = '<div class="table-responsive">\
                            <table class="table table-bordered table-condensed table-hover">\
                                <thead>\
                                    <tr>\
                                        <th>Imagen</th>\
                                        <th>Nombre</th>\
                                        <th>Descripcion</th>\
                                        <th>Marca</th>\
                                        <th>Precio</th>\
                                        <th>Cantidad</th>\
                                        <th>Guardado por</th>\
                                        <th colspan="2">Acciones</th>\
                                    </tr>\
                                </thead>\
                                <tbody id="body-tabla-productos-en-venta">\
                                </tbody>\
                            </table>\
                        </div>';
                        $("#div-mostrar-tabla-productos-en-venta").html(t);
                        data.productos.forEach(function(producto){
                            // producto = JSON.stringify(producto);
                            console.log(producto);
                            var p = '<tr>\
                                <td><img width="30px" height="30px" src="/static/usuarios/imagenes/productos/'+producto.imagen+'" alt="'+producto.nombre_producto+'"></td>\
                                <td>'+producto.nombre_producto+'</td>\
                                <td>'+producto.descripcion+'</td>\
                                <td>'+producto.marca+'</td>\
                                <td>'+producto.precio+'</td>\
                                <td>'+producto.stock+'</td>\
                                <td>'+producto.guardado_por+'</td>\
                                <td><button type="" class="btn btn-primary">Actualizar</button></td>\
                                <td><button type="" class="btn btn-danger" >Eliminar</button></td>\
                            </tr>';
                            console.log(p);
                            $("#body-tabla-productos-en-venta").append(p);
                        });
                    }
                }
            });    
        }
        $('#tab2 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            cargar_productos_en_paneles();
            $(this).tab('show');
        });

        $('#tab3 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            cargar_productos_en_tabla();
            $(this).tab('show');
        });


        $("#form-agregar-producto").on("submit", function(e){
            e.preventDefault();
            console.log("Se va a enviar el formularion");
            console.log("DATOS");
            var nombre = $("#nombre-producto").val();
            var descripcion = $("#descripcion-producto").val();
            var marca = $("#marca-producto").val();
            var precio = $("#precio-producto").val();
            var cantidad = $("#cantidad-producto").val();
            var imagen = $("#imagen-producto")[0].files[0];
            var categoria = $("#categoria-producto").val();
            console.log("Nombre: "+nombre);
            console.log("Descripcion: "+descripcion);
            console.log("Marca: "+marca);
            console.log("Precio: "+precio);
            console.log("Cantidad: "+cantidad);
            console.log("Categoria: "+categoria);
            console.log(imagen);
            if(categoria!=0){
                var datos = new FormData();
                datos.append("nombre", nombre);
                datos.append("descripcion", descripcion);
                datos.append("marca", marca);
                datos.append("categoria", categoria);
                datos.append("precio", precio);
                datos.append("cantidad", cantidad);
                datos.append("imagen", imagen);
                datos.append("id_tienda", localStorage.id_tienda);
                datos.append("id_admin", localStorage.id_admin);
                console.log(datos);
                $.ajax({
                    type: "POST",
                    url: "/api/agregar-a-productos-en-venta",
                    data: datos,
                    contentType: false,
                    processData: false,
                    cache:false,
                    success: function(data) {
                        console.log(data);
                        // cargar_productos();
                    }
                });
            }else{
                alert("Debe seleccionar una categoria para el producto a guardar");
            }
        })

        $(".li-a-categorias").on("click", function (e) {
            console.log("click categoria");
            console.log($(this).attr("data-categoria"));
            cargar_productos_en_paneles($(this).attr("data-categoria"));
        });
    });
    </script>
</body>

</html>
