<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>e-Mal - Pedidos enviados</title>

    <!-- Core CSS - Include with every page -->
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <style type="text/css">
        body { padding-top: 70px; }

        *{
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-truck"></i> Pedidos enviados</a>
            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <?php require_once "partes/links.html"; ?>
                <?php require_once "partes/notificaciones.html"; ?>
            </div>
            <!-- /.navbar-top-links -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <?php //print_r($params["pedidos_enviados"]); ?>
            </div>
            <div class="col-lg-12 col-sm-12">
                <?php 
                    if (isset($params["pedidos_enviados"]) && $params["pedidos_enviados"]) { 
                        foreach ($params["pedidos_enviados"] as $pedido) {?>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4>Fecha en que se realizo el pedido: <b><?php echo $pedido["fecha_registro"]; ?></b></h4>
                                    <h4>Fecha en que se envio el pedido: <b><?php echo $pedido["fecha_envio"]; ?></b></h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Nombre</th>
                                                    <th>Marca</th>
                                                    <th>Precio (Pesos)</th>
                                                    <th class="th-qty">Cantidad</th>
                                                    <th>Sub Total (Pesos)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php
                                                    $suma = 0;
                                                    foreach ($pedido["productos"] as $producto) {
                                                    $suma = $suma + ($producto["cantidad_comprada"]*$producto["producto"]["precio"]); ?>
                                                    <tr>
                                                        <td><img class="imagen-producto" style="cursor:pointer;" src="/static/usuarios/imagenes/productos/<?php echo $producto["producto"]['imagen']; ?>" alt="" title="" width="35" height="35" /></td>
                                                        <td><?php echo $producto["producto"]["nombre_producto"]; ?></td>
                                                        <td><?php echo $producto["producto"]["marca"]; ?></td>
                                                        <td>$ <?php echo $producto["producto"]["precio"]; ?></td>
                                                        <td><?php echo $producto["cantidad_comprada"]; ?></td>
                                                        <td>$ <?php echo ($producto["cantidad_comprada"]*$producto["producto"]["precio"]); ?></td>
                                                    </tr>
                                                <?php } ?>
                                                <tr>
                                                    <td colspan="5" align="right">Total</td>
                                                    <td class="total"><b>$ <?php echo $suma ?></b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <h4>Estado del pedido: 
                                        <span class="label label-success"><b>Pagado</b></span>
                                        <span class="label label-info"><b>Enviado</b></span>
                                        <span><button class="btn btn-primary boton-entregado" data-id-pedido="<?php echo $pedido["id_pedido"]; ?>" >Cambiar estado de pedido a entregado</button></span>
                                        <span><button class="btn btn-info boton-info-cliente" data-id-cliente="<?php echo $pedido["id_cliente"]; ?>" >Ver informacion del cliente</button></span>
                                    </h4>
                                </div>
                            </div>
                        <?php 
                        } 
                    } else { ?>
                        <h2>Usted no tiene pedidos enviado a ningun cliente</h2>
                <?php } ?>
            </div>
                
        </div>
    </div>
    <!-- /#wrapper -->
    <div id="modal-informacion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Informacion del cliente</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-right"><b>Nombre:</b></span></div>
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-left" id="nombre-cliente-modal"></div>
              </div>
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-right"><b>Direccion:</b></span></div>
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-left" id="direccion-cliente-modal"></div>
              </div>
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-right"><b>Barrio:</b></span></div>
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-left" id="barrio-cliente-modal"></div>
              </div>
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-right"><b>Telefonos:</b></span></div>
                  <div class="col-xs-6 col-sm-6 col-md-6"><span class="pull-left" id="telefonos-cliente-modal"></div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/bootstrap-filestyle.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard 
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/plugins/morris/morris.js"></script>
    -->    
    
    <!-- SB Admin Scripts - Include with every page 
    -->
    <script src="<?php echo STATIC_DIR; ?>vendors/dashboard/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference
    <script src="<?php echo STATIC_DIR; ?>dashboard/js/demo/dashboard-demo.js"></script> 
    -->
    <script>
    $(document).on("ready", function(){
        console.log("documento listo XD");
        console.log(localStorage);
        $(".boton-info-cliente").on("click", function(){
            $("#modal-informacion").modal();
            var data = {
                "id_cliente": $(this).attr("data-id-cliente")
            }
            console.log(data);
            $.ajax({
                url: "/api/obtener-datos-cliente",
                method: "GET",
                data: data,
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    console.log(data);
                    $("#nombre-cliente-modal").html(data.datos_cliente.nombre);
                    $("#direccion-cliente-modal").html(data.datos_cliente.direccion);
                    $("#barrio-cliente-modal").html(data.datos_cliente.barrio);
                    $("#telefonos-cliente-modal").html(data.datos_cliente.telefonos);

                }
            })
        });

        $(".boton-entregado").on("click", function(){
            var data = {
                "id_pedido": $(this).attr("data-id-pedido")
            }
            console.log(data);
            $.ajax({
                url: "/api/pedidos/entregar-pedido",
                method: "GET",
                data: data,
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    console.log(data);
                    // $("#nombre-cliente-modal").html(data.datos_cliente.nombre);
                    // $("#direccion-cliente-modal").html(data.datos_cliente.direccion);
                    // $("#barrio-cliente-modal").html(data.datos_cliente.barrio);
                    // $("#telefonos-cliente-modal").html(data.datos_cliente.telefonos);

                }
            })
        });
    });
    </script>
</body>

</html>
