<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>e-Mal - Productos en venta</title>

    <!-- Core CSS - Include with every page -->
    <link href="<?php echo STATIC_DIR; ?>vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo STATIC_DIR; ?>vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 70px; }

        *{
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-barcode"></i> Productos en venta</a>
            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <?php require_once "partes/links.html"; ?>
                <?php require_once "partes/notificaciones.html"; ?>
            </div>
            <!-- /.navbar-top-links -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:10px 0;">
                  <li id="tab1"><a href="#home" role="tab" data-toggle="tab">Agregar productos</a></li>
                  <li id="tab2"><a href="#burbujas" role="tab" data-toggle="tab">Ver productos en paneles</a></li>
                  <li class="active" id="tab3"><a href="#tabla" role="tab" data-toggle="tab">Ver productos en tabla</a></li>
                </ul>
                <!-- Tab panes -->

                <div class="tab-content">
                    <div class="tab-pane fade" id="home">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                                <div class="panel panel-primary ">
                                    <div class="panel-heading">
                                        Agregar un producto
                                    </div>
                                    <div class="panel-body">
                                        <div id="alerta-producto-guardado" class="alert alert-success" style="display:none">
                                          Producto <span class="label label-primary">REGISTRADO</span> satisfactoriamente
                                        </div>
                                        <form role="form" id="form-agregar-producto">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="nombre-producto" placeholder="Nombre del producto" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3" id="descripcion-producto" placeholder="Descripcion del producto" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="marca-producto" placeholder="Marca del producto" required>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="categoria-producto">
                                                    <option value=0>Seleccione una categoria</option>
                                                  <?php 
                                                    foreach ($params["categorias_productos"] as $value) {
                                                        print_r("<option value='".$value['categoria_producto']."'>".$value['categoria_producto']."</option>");     
                                                    }
                                                  ?>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="precio-producto" placeholder="Precio del producto" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="cantidad-producto" placeholder="Cantidad en bodega" required>
                                            </div>
                                           
                                            <div class="form-group">
                                                <input type="file" class="filestyle" id="imagen-producto" data-buttonText="Cargar imagen" required>
                                            </div>
                                            
                                            <button type="submit" class="btn btn-primary">Agregar producto</button>
                                        </form>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="tab-pane fade" id="burbujas">
                        <div class="row" style="padding:10px 0;">
                            <div class="col-xs-12" class="form-control">
                                <select id="select-categorias" class="form-control">
                                    <option value="-1">Seleccione una categoria</option>
                                    <option value="1">Todos</option>
                                    <?php 
                                        foreach ($params["categorias_productos"] as $value) {
                                            print_r("<option value='".$value['categoria_producto']."'>".$value['categoria_producto']."</option>");     
                                            }
                                        ?>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div id="eliminacion-exitosa-producto2" class="alert alert-success" style="display:none">
                                    Producto <span class="label label-danger">ELIMINADO</span> satisfactoriamente.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12" id="div-mostrar-productos-en-venta">
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in active" id="tabla">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="actualizacion-exitosa-producto" class="alert alert-success" style="display:none">
                                  Producto <span class="label label-primary">ACTUALIZADO</span> satisfactoriamente
                                </div>
                                <div id="eliminacion-exitosa-producto" class="alert alert-success" style="display:none">
                                  Producto <span class="label label-danger">ELIMINADO</span> satisfactoriamente
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding:10px 0;">
                            <div class="col-xs-12">
                                <select id="select-categorias2" class="form-control">
                                    <option value="-1">Seleccione una categoria</option>
                                    <option value="1">Todos</option>
                                    <?php 
                                        foreach ($params["categorias_productos"] as $value) {
                                            print_r("<option value='".$value['categoria_producto']."'>".$value['categoria_producto']."</option>");     
                                            }
                                        ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" id="div-mostrar-tabla-productos-en-venta">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div id="modal-img" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Imagen del producto</h4>
              </div>
              <div class="modal-body">
                <img id="imagen-grande" width="100%" height="auto" src="">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <!-- Core Scripts - Include with every page -->
    <script src="<?php echo STATIC_DIR; ?>vendors/jquery/jquery.min.js"></script>
    <script src="<?php echo STATIC_DIR; ?>vendors/bootstrap/js/bootstrap.min.js"></script>

    <script>
    $(document).on("ready", function(){
        console.log(localStorage);
        var categorias_productos;
        function crear_select_categorias_productos(categoria_tienda, selected, id, callback){
            //console.log("Categoria: "+categoria_tienda);
            //console.log("Selected: "+selected);
            var select_categorias_productos;
            if (typeof categorias_productos == "undefined") {
                console.log("Hay que hacer una peticion ajax");
                $.ajax({
                    url: '/api/obtener-categorias-productos?categoria-tienda='+categoria_tienda,
                })
                .done(function(data) {
                    console.log("success");
                    data = JSON.parse(data);
                    categorias_productos = data.categorias_productos;
                    select_categorias_productos = "<select id='select-categoria-"+id+"' class='form-control'>"
                    for(i in categorias_productos){
                        //console.log(categorias_productos[i].categoria_producto);
                        if(categorias_productos[i].categoria_producto == selected){
                            select_categorias_productos = select_categorias_productos + "<option selected value='"+categorias_productos[i].categoria_producto+"'>"+categorias_productos[i].categoria_producto+"</option>"
                        }else{
                            select_categorias_productos = select_categorias_productos + "<option value='"+categorias_productos[i].categoria_producto+"'>"+categorias_productos[i].categoria_producto+"</option>"
                        }
                    }
                    select_categorias_productos = select_categorias_productos + "</select>";   
                    
                    //console.log(select_categorias_productos);
                    callback(select_categorias_productos);
                })
                .fail(function(data) {
                    console.log("error obteniendo categorias");
                    console.log(data);
                });
            }else{
                console.log("No hay que hacer una peticion ajax");
                select_categorias_productos = "<select id='select-categoria-"+id+"' class='form-control'>"
                for(i in categorias_productos){
                    //console.log(categorias_productos[i].categoria_producto);
                    if(categorias_productos[i].categoria_producto == selected){
                            select_categorias_productos = select_categorias_productos + "<option selected value='"+categorias_productos[i].categoria_producto+"'>"+categorias_productos[i].categoria_producto+"</option>"
                        }else{
                            select_categorias_productos = select_categorias_productos + "<option value='"+categorias_productos[i].categoria_producto+"'>"+categorias_productos[i].categoria_producto+"</option>"
                        }
                }
                select_categorias_productos = select_categorias_productos + "</select>";
                callback(select_categorias_productos);
            }
        }

        function cargar_productos_en_paneles(categoria){
            $("#div-mostrar-productos-en-venta").html("");
            if (categoria) {
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda+"&categoria-productos="+categoria;
            }else{
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda;
            }
            $.ajax({
                type: "GET",
                url: url,
                success: function(data) {
                    data = JSON.parse(data);
                    //console.log(data);
                    if(data.error ==  null && data.productos.length == 0){
                        if (categoria) {
                            var s = "<h2>No tiene productos de la categoria <span class='label label-info'>"+categoria+"</span> registrados</h2>"
                        }else{
                            var s = "<h2>No tiene productos registrados</h2>";
                        }
                        $("#div-mostrar-productos-en-venta").html(s);
                    }else{
                        data.productos.forEach(function(producto){
                            // producto = JSON.stringify(producto);
                            //console.log(producto);
                            var p = '<div class="col-xs-12 col-sm-4 col-md-3">\
                                <div class="panel panel-default">\
                                    <div class="panel-heading">\
                                        <strong style="font-size:16px">'+producto.nombre_producto+'</strong>\
                                    </div>\
                                    <div class="panel-body">\
                                        <img width="100%" src="/static/usuarios/imagenes/productos/'+producto.imagen+'" alt="'+producto.nombre_producto+'" width="100%" height="200px">\
                                        <div style="display:block; text-align:center;">\
                                            <p><strong style="font-size:16px !important;">Descripcion: </strong> '+producto.descripcion+'</p>\
                                            <p><strong style="font-size:16px !important;">Marca: </strong><span class="label label-primary">'+producto.marca+'</span> </p>\
                                            <p><strong style="font-size:16px !important;">Categoria: </strong><span class="label label-info">'+producto.categoria+'</span> </p>\
                                            <p><strong style="font-size:16px !important;">Precio: </strong><span class="label label-warning">$'+producto.precio+'</span> </p>\
                                            <p><strong style="font-size:16px !important;">Cantidad: </strong><span class="label label-danger">'+producto.stock+'</span> </p>\
                                        </div>\
                                    </div>\
                                    <div class="panel-footer center-block">\
                                        <button class="btn btn-danger" style="min-width:100%;" data-id='+producto.id+'>Eliminar</button>\
                                    </div>\
                                </div>\
                            </div>';
                            //console.log(p);
                            $("#div-mostrar-productos-en-venta").append(p);
                            
                        });
                    }
                }
            });    
        }

        function cargar_productos_en_tabla(categoria){
            $("#div-mostrar-tabla-productos-en-venta").html("");
            if (categoria) {
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda+"&categoria-productos="+categoria;
            }else{
                var url = "/api/obtener-productos-en-venta?id_tienda="+localStorage.id_tienda;
            }
            $.ajax({
                type: "GET",
                url: url,
                success: function(data) {
                    data = JSON.parse(data);
                    //console.log(data);
                    if(data.error ==  null && data.productos.length == 0){
                        if (categoria) {
                            var s = "<h2>No tiene productos de la categoria <span class='label label-info'>"+categoria+"</span> registrados</h2>"
                        }else{
                            var s = "<h2>No tiene productos registrados</h2>";
                        }
                        $("#div-mostrar-tabla-productos-en-venta").html(s);
                    }else{
                        var t = '<div class="table-responsive">\
                            <table class="table table-bordered table-condensed table-hover">\
                                <thead>\
                                    <tr>\
                                        <th>Imagen</th>\
                                        <th>Nombre</th>\
                                        <th>Descripcion</th>\
                                        <th>Marca</th>\
                                        <th>Categoria</th>\
                                        <th>Precio</th>\
                                        <th>Cantidad</th>\
                                        <th>Guardado por</th>\
                                        <th colspan="2">Acciones</th>\
                                    </tr>\
                                </thead>\
                                <tbody id="body-tabla-productos-en-venta">\
                                </tbody>\
                            </table>\
                        </div>';
                        $("#div-mostrar-tabla-productos-en-venta").html(t);
                        data.productos.forEach(function(producto){
                            // producto = JSON.stringify(producto);
                            //console.log(producto);
                            crear_select_categorias_productos(localStorage.categoria_tienda, producto.categoria, producto.id, function(select){
                                var p = '<tr>\
                                    <td><img class="imagen-producto" width="30px" height="30px" src="/static/usuarios/imagenes/productos/'+producto.imagen+'" alt="'+producto.nombre_producto+'"></td>\
                                    <td><input type="text" id="input-nombre-'+producto.id+'" class="form-control" value="'+producto.nombre_producto+'" required/></td>\
                                    <td><input type="text" id="input-descripcion-'+producto.id+'" class="form-control" value="'+producto.descripcion+'" required/></td>\
                                    <td><input type="text" id="input-marca-'+producto.id+'" class="form-control" value="'+producto.marca+'" required/></td>\
                                    <td>'+select+'</td>\
                                    <td><input type="text" id="input-precio-'+producto.id+'" class="form-control" value="'+producto.precio+'" required/></td>\
                                    <td><input type="text" id="input-stock-'+producto.id+'" class="form-control" value="'+producto.stock+'" required/></td>\
                                    <td>'+producto.guardado_por+'</td>\
                                    <td><button type="button" class="btn btn-primary" data-id='+producto.id+' data-type="actualizar">Actualizar</button></td>\
                                    <td><button type="button" class="btn btn-danger" data-id='+producto.id+' data-type="eliminar">Eliminar</button></td>\
                                </tr>';
                                //console.log(p);
                                $("#body-tabla-productos-en-venta").append(p);
                            });
                        });
                    }
                }
            });    
        }

        cargar_productos_en_tabla();

        $('#tab2 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            cargar_productos_en_paneles();
            $(this).tab('show');
        });

        $('#tab3 a').click(function (e) {
            e.preventDefault()
            console.log("click");
            cargar_productos_en_tabla();
            $(this).tab('show');
        });


        $("#form-agregar-producto").on("submit", function(e){
            e.preventDefault();
            console.log("Se va a enviar el formularion");
            //console.log("DATOS");
            var nombre = $("#nombre-producto").val();
            var descripcion = $("#descripcion-producto").val();
            var marca = $("#marca-producto").val();
            var precio = $("#precio-producto").val();
            var cantidad = $("#cantidad-producto").val();
            var imagen = $("#imagen-producto")[0].files[0];
            var categoria = $("#categoria-producto").val();
            // console.log("Nombre: "+nombre);
            // console.log("Descripcion: "+descripcion);
            // console.log("Marca: "+marca);
            // console.log("Precio: "+precio);
            // console.log("Cantidad: "+cantidad);
            // console.log("Categoria: "+categoria);
            // console.log(imagen);
            if(categoria!=0){
                var datos = new FormData();
                datos.append("nombre", nombre);
                datos.append("descripcion", descripcion);
                datos.append("marca", marca);
                datos.append("categoria", categoria);
                datos.append("precio", precio);
                datos.append("cantidad", cantidad);
                datos.append("imagen", imagen);
                datos.append("id_tienda", localStorage.id_tienda);
                datos.append("id_admin", localStorage.id_admin);
                console.log(datos);
                $.ajax({
                    type: "POST",
                    url: "/api/agregar-a-productos-en-venta",
                    data: datos,
                    contentType: false,
                    processData: false,
                    cache:false,
                    success: function(data) {
                        //console.log(data);
                        data = JSON.parse(data);
                        if (data.info == "producto_registrado") {
                            $("#alerta-producto-guardado").slideDown("slow");
                            setTimeout(function(){
                              $("#alerta-producto-guardado").slideUp("slow");
                            }, 2000);
                        };
                        // cargar_productos();
                    }
                });
            }else{
                alert("Debe seleccionar una categoria para el producto a guardar");
            }
        })

        $("#select-categorias").on("change", function (e) {
            console.log("click categoria");
            console.log($(this).val());
            if($(this).val() != -1){
                if ($(this).val() == 1) {
                    cargar_productos_en_paneles();
                }else{
                    cargar_productos_en_paneles($(this).val());
                }
            }
        });

        $("#select-categorias2").on("change", function (e) {
            console.log("click categoria");
            console.log($(this).val());
            if($(this).val() != -1){
                if ($(this).val() == 1) {
                    cargar_productos_en_tabla();
                }else{
                    cargar_productos_en_tabla($(this).val());
                }
            }
        });

        $("#div-mostrar-tabla-productos-en-venta").on("click", "button", function(e){
            var id= $(this).attr("data-id");
            var type= $(this).attr("data-type");
            //console.log(type, id);
            if (type == "actualizar") {
                var nombre = $("#input-nombre-"+id).val();
                var descripcion = $("#input-descripcion-"+id).val();
                var marca = $("#input-marca-"+id).val();
                var precio = $("#input-precio-"+id).val();
                var cantidad = $("#input-stock-"+id).val();
                var categoria = $("#select-categoria-"+id).val();
                console.log(nombre);
                console.log(descripcion);
                console.log(marca);
                console.log(precio);
                console.log(cantidad);
                console.log(categoria);

                $.ajax({
                    url: '/api/actualizar-productos-en-venta',
                    type: 'POST',
                    data: {
                        id: id,
                        nombre: nombre,
                        descripcion: descripcion,
                        marca: marca,
                        precio: precio,
                        cantidad: cantidad,
                        categoria: categoria,
                        id_admin: localStorage.id_admin,
                        id_tienda: localStorage.id_tienda
                    }
                })
                .done(function(data) {
                    console.log("success");
                    console.log(data);
                    data = JSON.parse(data);
                    if(data.info == "producto_actualizado"){
                        $("#actualizacion-exitosa-producto").slideDown("slow");
                        setTimeout(function(){
                          $("#actualizacion-exitosa-producto").slideUp("slow");
                        }, 2000);
                    }
                })
                .fail(function() {
                    console.log("error");
                    console.log(data);
                })
                .always(function() {
                    console.log("complete");
                });
                
            }else if(type == "eliminar"){
                $.ajax({
                    url: '/api/eliminar-productos-en-venta',
                    type: 'POST',
                    data: {
                        id: id
                    }
                })
                .done(function(data) {
                    console.log("success");
                    // console.log(data);
                    data = JSON.parse(data);
                    if(data.info == "producto_eliminado"){
                        cargar_productos_en_tabla();
                        $("#eliminacion-exitosa-producto").slideDown("slow");
                        setTimeout(function(){
                          $("#eliminacion-exitosa-producto").slideUp("slow");
                        }, 2000);
                    }
                })
                .fail(function() {
                    console.log("error");
                    console.log(data);
                })
                .always(function() {
                    console.log("complete");
                });
            }
        });

        $("#div-mostrar-productos-en-venta").on("click", "button", function(e){
            var id = $(this).attr("data-id");
            console.log(id);
            $.ajax({
                url: '/api/eliminar-productos-en-venta',
                type: 'POST',
                data: {
                    id: id
                }
            })
            .done(function(data) {
                console.log("success");
                console.log(data);
                data = JSON.parse(data);
                if(data.info == "producto_eliminado"){
                    $("#eliminacion-exitosa-producto2").slideDown("slow");
                    setTimeout(function(){
                      $("#eliminacion-exitosa-producto2").slideUp("slow");
                    }, 2000);
                    cargar_productos_en_paneles();
                }
            })
            .fail(function() {
                console.log("error");
                console.log(data);
            })
            .always(function() {
                console.log("complete");
            });
        });

        $("#div-mostrar-tabla-productos-en-venta").on("click", "img", function(e){
          var url = $(this).attr("src");
          console.log(url);
          $("#imagen-grande").attr("src", url);
          $('#modal-img').modal();
        });
    });
    </script>
</body>

</html>
